.home {
  input,
  select {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: 1px solid;
  }
  label {
    font-size: 1.4rem;
    font-weight: 700;
  }
  &-header {
    margin: 2rem auto 0;
    width: 500px;
    display: flex;
    flex-direction: column;
  }

  &-body {
    margin: 0rem auto;
    width: 500px;
    display: flex;
    flex-direction: column;

    &__list {
      list-style: none;
      padding: 0;

      &-item {
        margin-bottom: 2rem;
        border: 1px solid;
        border-radius: 10px;
        padding: 1rem;

        table {
          width: 100%;
          th {
              width: 50%;
          }
          td {
            width: 50%;
            input,
            select {
              width: 80%;
            }
          }
        }
      }
    }
  }

  p.error {
    color: red;
  }

  &-footer {
    margin: 2rem auto 0;
    width: 500px;
    display: flex;
    justify-content: space-between;

    button {
      text-decoration: none;
      background-color: #1e4382;
      color: white;
      border-radius: 7px;
      border: none;
      padding: 1.2rem 1.8rem;
    }
  }
}
